{% extends "padre.html" %}

{% load static %}


{% block contenido %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Curso</title>
</head>
<body>
    <h1>Alta de Curso</h1>
    <form action="{% url 'alta_curso' %}" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>
        
        <label for="camada">Camada:</label><br>
        <input type="number" id="camada" name="camada" required><br><br>
        
        <button type="submit">Guardar</button>
    </form>
</body>
</html>

{% endblock %}