{% extends "padre.html" %}
{% load static %}

{% block contenido %}
<main class="container">
    <h1 class="text-xl-center title"> Alumnos </h1>

    {% if user.is_authenticated and user.is_staff %}
        <a href="alta_alumno" class="btn btn-primary btn-sm">Nuevo Alumno</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre y Apellido</th>
                <th>Asignatura</th>
                {% if user.is_authenticated and user.is_staff %}
                    <th>Acciones</th>
                {% endif %}
            </tr>            
        </thead>
        <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.id }}</td>
                    <td>{{ alumno.Nombre_y_Apellido }}</td>
                    <td>{{ alumno.Asignatura }}</td>
                    {% if user.is_authenticated and user.is_staff %}
                        <td>
                            <a href="{% url 'eliminar_alumno' alumno.id %}" class="btn btn-danger btn-sm">BORRAR</a>
                            <a href="{% url 'editar_alumno' alumno.id %}" class="btn btn-warning btn-sm">EDITAR</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}