{% extends "padre.html" %}
{% load static %}

{% block contenido %}
<main class="container">
    <h1 class="text-xl-center title"> Profesores </h1>

    {% if request.user.is_authenticated and request.user.is_superuser %}
        <a href="{% url 'agregar_profesor' %}" class="btn btn-primary btn-sm">Nuevo Profesor</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre y Apellido</th>
                <th>Materia</th>
                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <th>Acciones</th>
                {% endif %}
            </tr>            
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.id }}</td>
                <td>{{ profesor.Nombre_y_Apellido }}</td>
                <td>{{ profesor.Materia }}</td>
                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <td>
                        <a href="{% url 'eliminar_profesor' profesor.id %}" class="btn btn-danger btn-sm">BORRAR</a>
                        <a href="{% url 'editar_profesor' profesor.id %}" class="btn btn-warning btn-sm">EDITAR</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}